.banner {
    /*margin-top: 128px;*/
    /* margin-bottom: 90px; */
    /*background-image: url(../img/monster.png);
    position: relative;*/
    background: #EEE4DB;
}

.banner__inner {
    padding-left: 132px;
}

.title {
    /* padding-bottom: 20px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin-top: 17px;
}

.notion {
    padding-bottom: 20px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.img_banner {
    position: absolute;
    width: 635.49px;
    height: 461px;
    left: 444px;
    top: -171px;
}

.utp {
    padding: 11px 364px;
    background: #C29974;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.category__list {
    display: flex;

}

.p__one {
    padding-top: 16px;
    padding-left: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.btn__block{
    /* padding-top: 10px; */
    padding-left: 32px;
}

.btn__line {
    width: 31px;
    height: 3px;
    background: rgba(30, 6, 6, 0.6);
}

.onc {
    width: 307px;
}

.catprod {
    margin-top: 90px;
}

.pupa {
    display: flex;
    gap: 25px;
}

.pupaarrow {
    display: flex;
    gap: 6px;
    margin-top: 33px;
    margin-bottom: 94px;
}

.podpupa {
    width: 514px;
    height: 44px;
    margin-left: 20px;
    font-family: 'Open Sans';
}

.megapupa {
    display: grid;
}

.mleft {
    margin-left: 121px;
}

.delivery {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 30px;
}

.secdelivery {
    margin-left: -60px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    background-color: #70BBDC33;
    width: 326px;
    height: 55px;
    padding-top: 11px;
    padding-left: 60px;
}

.guarantee {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.credit {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.somedays {
    width: 455px;
    height: 66px;
}

.whatstarted {
    width: 460px;
    height: 88px;
}

.logos {
    margin-top: 90px;
}

.logossec {
    display: flex;
}

.posrel {
    position: relative;
    bottom: 89px;
}

.secgridgap {
    grid-gap: 11px;
}

.akhsta {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.apparelkids {
    width: 129px;
    height: 64px;
}

.alcent {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.categoryprod {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 90px;
    margin-bottom: 30px;
}

.holshop {
    background: #EADDD3;
    width: 280px;
    height: 270px;
}

.appkids {
    background: #DBE4DB;
    width: 280px;
    height: 270px;
}

.toys {
    background: #F8F2DA;
    width: 280px;
    height: 270px;
}

.accessories {
    background: #D5D4E1;
    width: 280px;
    height: 270px;
}

.link__position {
    position: absolute;
}

.link__infosec {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    width: 148px;
    height: 40px;
    background: #000000;
    padding-top: 9px;
    padding-left: 22px;
}

.delgua {
    margin-bottom: 22px;
}

.r__l__arrow {
    background-image: url(../img/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #70BBDC33;
    width: 37px;
    height: 37px;
}

.l__r__arrow {
    background-image: url(../img/left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #70BBDC33;
    width: 37px;
    height: 37px;
}

.partner__logos__gap {
    gap: 127px;
    margin-bottom: 90px;
}

.des__con {
    display: flex;
    gap: 57px;
}

.des_con_sec {
    display: flex;
    flex-direction: column;
}

.des__life {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 10px;
}

.des__lifesec {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 20px;
    margin-top: -24px;
}

.dome__says {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 486px;
}
.about__ussec {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
    margin-bottom: 10px;
}

.btnsec {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    padding: 9px 22px;
    background: #000;
    width: 123px;
    margin-top: 20px;
}

.div__back {
    background: #E1F0F7;
    width: 543px;
    height: 228px;
    margin-bottom: 155px;
    margin-left: 30px;
}

.nad__footer {
    margin-left: 30px;
}

.nad__footer__h__one {
    margin-left: 30px;
    margin-top: -25px;
}

.div__back__sec {
    background: #E1F0F7;
    width: 543px;
    height: 228px;
    margin-bottom: 155px;
    margin-left: 30px;
}

.for__iframe {
    margin-top: 30px;
}