.banner {
    /*margin-top: 128px;*/
    /* margin-bottom: 90px; */
    /*background-image: url(../img/monster.png);
    position: relative;*/
    background: #EEE4DB;
}

.banner__inner {
    padding-left: 132px;
}

.title {
    /* padding-bottom: 20px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
}

.notion {
    padding-bottom: 20px;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.img_banner {
    position: absolute;
    width: 635.49px;
    height: 461px;
    left: 444px;
    top: -171px;
}

.utp {
    padding: 11px 364px;
    background: #C29974;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.category__list {
    display: flex;

}

.p__one {
    padding-top: 16px;
    padding-left: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
}

.btn__block{
    /* padding-top: 10px; */
    padding-left: 32px;
}

.btn__line {
    width: 31px;
    height: 3px;
    background: rgba(30, 6, 6, 0.6);
}

.onc {
    width: 307px;
}

.catprod {
    margin-top: 90px;
}

.pupa {
    display: flex;
    margin-top: 121px;
}

.podpupa {
    width: 580px;
    height: 44px;
    margin-left: 20px;
    font-family: 'Open Sans';
}

.megapupa {
    display: grid;
}

.mleft {
    margin-left: 121px;
}

.delivery {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 30px;
}

.secdelivery {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.guarantee {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.credit {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.somedays {
    padding-top: 30px;
}


.whatstarted {
    padding-top: 30px;
}

.logos {
    margin-top: 90px;
}

.logossec {
    display: flex;
}

.posrel {
    position: relative;
    bottom: 89px;
}

.secgridgap {
    grid-gap: 11px;
}

.akhsta {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.apparelkids {
    position: absolute;
    left: 26.79%;
    right: 27.14%;
    top: 38.15%;
    bottom: 38.15%;
    width: 129px;
    height: 64px;
}

.apparelbackgr {
    background-color: #DBE4DB;
    width: 280px;
    height: 270px;
}

.holidayshop {

}

.toys {

}

.accessories {

}

.alcent {
    align-items: center;
    justify-content: center;
}

.forfoh {
    
}